<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.ActivityStageCouponMapper">
    <select id="findActivityProfitDetail" resultType="com.youyu.cardequity.promotion.biz.dal.entity.ActivityStageCouponEntity">
        SELECT * FROM
        TB_ACTIVITY_STAGE_COUPON a
        WHERE ifnull(a.IS_ENABLE,'1')='1'
          and a.ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
    </select>

    <update id="logicDelByActivityId" parameterType="string">
        UPDATE TB_COUPON_STAGE_RULE a
        SET IS_ENABLE='0'
        WHERE ifnull(a.IS_ENABLE, '1') = '1'
        AND ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
    </update>

    <update id="logicDelByBaseActivity" parameterType="com.youyu.cardequity.promotion.vo.req.BaseActivityReq">
        UPDATE TB_COUPON_STAGE_RULE a
        SET IS_ENABLE='0'
        WHERE ifnull(a.IS_ENABLE, '1') = '1'
        AND ACTIVITY_ID=#{baseActivity.activityId,jdbcType=VARCHAR}
    </update>



</mapper>
