<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.ActivityRefProductMapper">
    <select id="findByBothId" resultType="com.youyu.cardequity.promotion.biz.dal.entity.ActivityRefProductEntity">
        SELECT * FROM TB_ACTIVITY_REF_PRODUCT a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND a.ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
        and a.PRODUCT_ID=#{productId,jdbcType=VARCHAR}
        and a.SKU_ID is null
    </select>

    <select id="findByActivityAndSkuId" resultType="com.youyu.cardequity.promotion.biz.dal.entity.ActivityRefProductEntity">
        SELECT * FROM TB_ACTIVITY_REF_PRODUCT a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND a.ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
        <if test="productId!=null and productId!=''">
            and a.PRODUCT_ID=#{productId,jdbcType=VARCHAR}
        </if>
        and a.SKU_ID=#{productId,jdbcType=VARCHAR}
    </select>

    <select id="findReProductBylist"  resultType="com.youyu.cardequity.promotion.biz.dal.entity.ActivityRefProductEntity">
        SELECT *
        FROM TB_ACTIVITY_REF_PRODUCT a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND a.ACTIVITY_ID!=#{activity.uuid,jdbcType=VARCHAR}
        and exists(
          select 1 from TB_ACTIVITY_PROFIT b
            where b.UUID=a.ACTIVITY_ID
              and if(length(b.IS_ENABLE),b.IS_ENABLE,'1') = '1'
              and b.ALLOW_USE_END_DATE &gt;= curdate()
              and NOT (b.ALLOW_USE_END_DATE &lt; #{activity.allowUseBeginDate,jdbcType=DATE}
                  OR b.ALLOW_USE_BEGIN_DATE &gt; #{activity.allowUseEndDate,jdbcType=DATE})
        )
        AND CONCAT(PRODUCT_ID,if(length(a.SKU_ID),a.SKU_ID,'UNKNOW')) IN
        <foreach collection="list" item="product" index="index"
                 open="(" close=")" separator=",">
                CONCAT(#{product.productId},if(length(#{product.skuId}),#{product.skuId},'UNKNOW'))
        </foreach>
    </select>

    <delete id="deleteByActivityId" parameterType="string">
        DELETE  FROM TB_ACTIVITY_REF_PRODUCT
        WHERE ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
    </delete>

    <update id="deleteByBaseActivity" parameterType="com.youyu.cardequity.promotion.vo.req.BaseActivityReq">
        DELETE  FROM TB_ACTIVITY_REF_PRODUCT
        WHERE ACTIVITY_ID=#{baseActivity.activityId,jdbcType=VARCHAR}
    </update>

    <select id="findByActivityId" resultType="com.youyu.cardequity.promotion.biz.dal.entity.ActivityRefProductEntity">
         SELECT * FROM TB_ACTIVITY_REF_PRODUCT a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND a.ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
    </select>
    <select id="findByExcludeActivityId" resultType="com.youyu.cardequity.promotion.biz.dal.entity.ActivityRefProductEntity">
        SELECT a.* FROM TB_ACTIVITY_REF_PRODUCT a
        inner join TB_ACTIVITY_PROFIT b ON b.UUID=a.ACTIVITY_ID AND if(length(b.IS_ENABLE),b.IS_ENABLE,'1') = '1'
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        and b.ALLOW_USE_BEGIN_DATE &lt;= curdate()
        and b.ALLOW_USE_END_DATE &gt;= curdate()
        <if test="activityId!=null and activityId!=''">
            AND a.ACTIVITY_ID!=#{activityId,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="findProductInValidActivity" resultType="com.youyu.cardequity.promotion.vo.req.BaseProductReq">
        SELECT a.PRODUCT_ID as productId,a.SKU_ID as skuId FROM TB_ACTIVITY_REF_PRODUCT a
        inner join TB_ACTIVITY_PROFIT b ON b.UUID=a.ACTIVITY_ID AND if(length(b.IS_ENABLE),b.IS_ENABLE,'1') = '1'
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        <if test='"0"==status'>
            and a.ALLOW_USE_BEGIN_DATE &gt;curdate()
        </if>
        <if test='"1"==status'>
            and a.ALLOW_USE_BEGIN_DATE &lt;=curdate()
            and a.ALLOW_USE_END_DATE &gt;=curdate()
        </if>
        <if test='"2"==status'>
            and a.ALLOW_USE_END_DATE &lt;curdate()
        </if>
        <if test="activityCouponType!=null and activityCouponType!=''">
            and instr(#{activityCouponType,jdbcType=VARCHAR},a.ACTIVITY_COUPON_TYPE) &gt;0
        </if>

    </select>

</mapper>
