<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.ActivityStageCouponMapper">
    <select id="findActivityProfitDetail" resultType="com.youyu.cardequity.promotion.biz.dal.entity.ActivityStageCouponEntity">
        SELECT * FROM
        TB_ACTIVITY_STAGE_COUPON a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
          and a.ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
    </select>

    <update id="logicDelByActivityId" parameterType="string">
        UPDATE TB_ACTIVITY_STAGE_COUPON a
        SET IS_ENABLE='0'
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND ACTIVITY_ID=#{activityId,jdbcType=VARCHAR}
    </update>

    <update id="logicDelByBaseActivity" parameterType="com.youyu.cardequity.promotion.vo.req.BaseActivityReq">
        UPDATE TB_ACTIVITY_STAGE_COUPON a
        SET IS_ENABLE='0'
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND ACTIVITY_ID=#{baseActivity.activityId,jdbcType=VARCHAR}
    </update>



</mapper>
