<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.CouponIssueMapper">

    <select id="getCouponIssueQuery" parameterType="com.youyu.cardequity.promotion.dto.req.CouponIssueQueryReq"
            resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponIssueEntity">
        select
        COUPON_ISSUE_ID couponIssueId,
        COUPON_ID couponId,
        COUPON_NAME couponName,
        TARGET_TYPE targetType,
        IS_VISIBLE isVisible,
        ISSUE_TIME issueTime,
        ISSUE_STATUS issueStatus,
        CREATE_AUTHOR createAuthor,
        UPDATE_AUTHOR updateAuthor
        from TB_COUPON_ISSUE
        <where>
            <if test="searchCondition != null">
                (COUPON_ISSUE_ID = #{searchCondition,jdbcType=VARCHAR}
                or COUPON_NAME = #{searchCondition,jdbcType=VARCHAR}
                or COUPON_ID = #{searchCondition,jdbcType=VARCHAR})
            </if>
            <if test="targetType != null">
                and TARGET_TYPE = #{targetType,jdbcType=VARCHAR}
            </if>
            <if test="isVisible != null">
                and IS_VISIBLE = #{isVisible,jdbcType=VARCHAR}
            </if>
            <if test="issueStatus != null">
                and ISSUE_STATUS = #{issueStatus,jdbcType=VARCHAR}
            </if>
            and LOGIC_DELETE = '0'
        </where>
    </select>

    <select id="getCouponIssueDetail" parameterType="com.youyu.cardequity.promotion.dto.req.CouponIssueDetailReq"
            resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponIssueEntity">
        select
        COUPON_ISSUE_ID couponIssueId,
        COUPON_ID couponId,
        COUPON_NAME couponName,
        TARGET_TYPE targetType,
        ISSUE_TIME issueTime,
        ISSUE_IDS issueIds,
        ISSUE_STATUS issueStatus
        from TB_COUPON_ISSUE
        <where>
            <if test="couponIssueId != null">
                COUPON_ISSUE_ID = #{couponIssueId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="getCouponIssueByActivityIdCouponId"
            resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponIssueEntity">
        select
            COUPON_ISSUE_ID couponIssueId,
            COUPON_ID couponId,
            COUPON_NAME couponName,
            TARGET_TYPE targetType,
            ISSUE_TIME issueTime,
            ISSUE_IDS issueIds,
            ISSUE_STATUS issueStatus
        from TB_COUPON_ISSUE
        where TARGET_TYPE = '2'
        and COUPON_ID = #{couponId,jdbcType=VARCHAR}
        and ISSUE_IDS = #{activityId,jdbcType=VARCHAR}
    </select>


    <select id="getCouponIssueCompensate"
            parameterType="com.youyu.cardequity.promotion.dto.CouponIssueCompensateDto"
            resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponIssueEntity">
        SELECT
        COUPON_ISSUE_ID couponIssueId,
        COUPON_ID couponId,
        COUPON_NAME couponName,
        TARGET_TYPE targetType,
        ISSUE_IDS issueIds,
        IS_VISIBLE isVisible,
        ISSUE_TIME issueTime,
        ISSUE_STATUS issueStatus
        FROM TB_COUPON_ISSUE

        WHERE
        TARGET_TYPE = #{targetType,jdbcType=VARCHAR}

        AND IS_VISIBLE = #{isVisible,jdbcType=VARCHAR}
        AND ISSUE_STATUS = #{issueStatus,jdbcType=VARCHAR}

        <!-- 记录创建时间要小于或等于时间线-->
        AND DATE_FORMAT(ISSUE_TIME ,'%Y-%m-%d %H:%i') &lt;= DATE_FORMAT(#{dateLine,jdbcType=DATE},'%Y-%m-%d %H:%i')
        AND LOGIC_DELETE=0
    </select>


</mapper>
