<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.CouponQuotaRuleMapper">

    <select id="findCouponQuotaRuleById"
            resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponQuotaRuleEntity">
        select *
        from TB_COUPON_QUOTA_RULE a
        where if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        and a.COUPON_ID=#{couponId,jdbcType=VARCHAR}
    </select>

    <update id="logicDelByCouponId" parameterType="string">
        UPDATE TB_COUPON_QUOTA_RULE a
           SET IS_ENABLE='0'
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND COUPON_ID=#{couponId,jdbcType=VARCHAR}
    </update>

    <select id="findCouponQuotaRuleByIds"
            resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponQuotaRuleEntity">
        select *
        from TB_COUPON_QUOTA_RULE a
        where if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        and a.COUPON_ID IN
        <foreach collection="idList" item="idstr" index="index"
                 open="(" close=")" separator=",">
            #{idstr}
        </foreach>
    </select>
</mapper>
