<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.CouponGetOrUseFreqRuleMapper">

    <resultMap id="ShortCouponDetailDto" type="com.youyu.cardequity.promotion.dto.other.ShortCouponDetailDto">
        <result column="COUPON_ID" property="couponId" jdbcType="VARCHAR"/>
        <result column="STAGE_ID" property="stageId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findClinetFreqForbidCouponDetailListById" resultMap="ShortCouponDetailDto"
            parameterType="java.lang.String">
        select a.COUPON_ID,a.STAGE_ID
        from TB_COUPON_GET_OR_USE_FREQ_RULE a
        where if(length(a.OP_COUPON_TYPE),a.OP_COUPON_TYPE,'0')  = #{opCoupontype,jdbcType=VARCHAR}
        and if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        and a.COUPON_ID =#{couponId,jdbcType=VARCHAR}
        <if test="stageId!=null and stageId!=''">
            and (if(length(a.STAGE_ID),a.STAGE_ID,'0')='0' or a.STAGE_ID = #{stageId,jdbcType=VARCHAR})
        </if>
        and(
        (ifnull(a.Person_Total_Num,999999999)&lt;999999 and a.Person_Total_Num &lt;=
             (select ifnull(count(d.UUID),0)
                from TB_CLIENT_COUPON d
               where ifnull(d.IS_ENABLE, '1') = '1'
                 and d.COUPON_ID = a.COUPON_ID
                 <if test='opCoupontype!=null and "1"==opCoupontype'>
                 and d.STATUS in ('1','2')
                 </if>
                 and (if(length(a.STAGE_ID),a.STAGE_ID,'0')='0' or d.STAGE_ID = a.STAGE_ID)
                 and d.CLIENT_ID = #{clientId,jdbcType=VARCHAR}
             )
        )
        or (a.UNIT = '0' and a.ALLOW_COUNT &lt;=
              (select ifnull(count(d.UUID),0)
                 from TB_CLIENT_COUPON d
                where ifnull(d.IS_ENABLE, '1') = '1'
                  and d.COUPON_ID = a.COUPON_ID
                  <if test='opCoupontype!=null and "1"==opCoupontype'>
                      and d.STATUS in ('1','2')
                  </if>
                  and(if(length(a.STAGE_ID),a.STAGE_ID,'0')='0' or d.STAGE_ID = a.STAGE_ID)
                  and d.CLIENT_ID = #{clientId,jdbcType=VARCHAR}
                  and d.CREATE_TIME &gt;= curdate())
         )
        or (a.UNIT = '1' and a.ALLOW_COUNT &lt;=
             (select ifnull(count(d.UUID),0)
                from TB_CLIENT_COUPON d
               where ifnull(d.IS_ENABLE, '1') = '1'
                 and d.COUPON_ID = a.COUPON_ID
                 <if test='opCoupontype!=null and "1"==opCoupontype'>
                     and d.STATUS in ('1','2')
                 </if>
                 and (if(length(a.STAGE_ID),a.STAGE_ID,'0')='0' or d.STAGE_ID = a.STAGE_ID)
                 and d.CLIENT_ID = #{clientId,jdbcType=VARCHAR}
                 and d.CREATE_TIME &gt;= date_sub(curdate(), INTERVAL WEEKDAY(curdate()) + 1 DAY)
                 and d.CREATE_TIME &lt;=date_sub(curdate(), INTERVAL WEEKDAY(curdate()) - 5 DAY)
             )
        )
        or (a.UNIT = '2' and a.ALLOW_COUNT &lt;=
            (select ifnull(count(d.UUID),0)
               from TB_CLIENT_COUPON d
              where ifnull(d.IS_ENABLE, '1') = '1'
                and d.COUPON_ID = a.COUPON_ID
               <if test='opCoupontype!=null and "1"==opCoupontype'>
                   and d.STATUS in ('1','2')
               </if>
                and (if(length(a.STAGE_ID),a.STAGE_ID,'0')='0' or d.STAGE_ID = a.STAGE_ID)
                and d.CLIENT_ID = #{clientId,jdbcType=VARCHAR}
                and concat(date_format(LAST_DAY(now()), '%Y-%m-'), '01') &lt;= d.CREATE_TIME
                and LAST_DAY(now()) &gt;= d.CREATE_TIME
            )
        )
        or (a.UNIT = '3' and a.ALLOW_COUNT &lt;=
           (select ifnull(count(d.UUID),0)
              from TB_CLIENT_COUPON d
             where ifnull(d.IS_ENABLE, '1') = '1'
               and d.COUPON_ID = a.COUPON_ID
              <if test='opCoupontype!=null and "1"==opCoupontype'>
                  and d.STATUS in ('1','2')
              </if>
               and (if(length(a.STAGE_ID),a.STAGE_ID,'0')='0' or d.STAGE_ID = a.STAGE_ID)
               and d.CLIENT_ID = #{clientId,jdbcType=VARCHAR}
               and DATE_SUB(CURDATE(), INTERVAL dayofyear(now()) - 1 DAY) &lt;= d.CREATE_TIME
               and concat(YEAR(now()), '-12-31') &gt;= d.CREATE_TIME
           )
        )
        )
    </select>

    <update id="logicDelByCouponId" parameterType="string">
        UPDATE TB_COUPON_GET_OR_USE_FREQ_RULE a SET IS_ENABLE='0'
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND COUPON_ID=#{couponId,jdbcType=VARCHAR}
    </update>

    <select id="findByCouponId" resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponGetOrUseFreqRuleEntity">
        SELECT * FROM TB_COUPON_GET_OR_USE_FREQ_RULE a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND COUPON_ID=#{couponId,jdbcType=VARCHAR}
    </select>

    <update id="deleteByCouponId" parameterType="string">
        DELETE FROM TB_COUPON_GET_OR_USE_FREQ_RULE
        WHERE COUPON_ID=#{couponId,jdbcType=VARCHAR}
    </update>

    <select id="findByCouponIds" resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponGetOrUseFreqRuleEntity">
        SELECT * FROM TB_COUPON_GET_OR_USE_FREQ_RULE a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        AND COUPON_ID IN
        <foreach collection="idList" item="idstr" index="index"
                 open="(" close=")" separator=",">
            #{idstr}
        </foreach>
    </select>
</mapper>
