<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.CouponRefProductMapper">
    <select id="findByBothId" resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponRefProductEntity">
    SELECT * FROM TB_COUPON_REF_PRODUCT a
    WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
    AND a.COUPON_ID=#{couponId,jdbcType=VARCHAR}
    and a.PRODUCT_ID=#{productId,jdbcType=VARCHAR}
    </select>

    <select id="findListByCommon" resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponRefProductEntity">
        SELECT * FROM TB_COUPON_REF_PRODUCT a
        WHERE if(length(a.IS_ENABLE),a.IS_ENABLE,'1') = '1'
        <if test="couponId != null and couponId!=''">
        AND a.COUPON_ID=#{couponId,jdbcType=VARCHAR}
        </if>
        <if test="productId != null and productId!=''">
        and a.PRODUCT_ID=#{productId,jdbcType=VARCHAR}
        </if>
    </select>

    <delete id="deleteByCouponId" parameterType="string">
       DELETE  FROM TB_COUPON_REF_PRODUCT
        WHERE COUPON_ID=#{couponId,jdbcType=VARCHAR}
    </delete>

    <select id="findByCouponIds" resultType="com.youyu.cardequity.promotion.biz.dal.entity.CouponRefProductEntity">
        select *
        from TB_COUPON_REF_PRODUCT a
        where ifnull(a.IS_ENABLE, '1') = '1'
        and a.COUPON_ID IN
        <foreach collection="list" item="couponId" index="index"
                 open="(" close=")" separator=",">
            #{couponId}
        </foreach>
        order by a.COUPON_ID
    </select>

    <select id="getCouponRefProductQuery" parameterType="com.youyu.cardequity.promotion.dto.req.CouponRefProductQueryReq" resultType="com.youyu.cardequity.promotion.dto.rsp.CouponRefProductQueryRsp">
        select
        PRODUCT_ID productId,
        PRODUCT_NAME productName,
        SUPPLIER_NAME supplierName,
        THIRD_CATEGORY_NAME thirdCategoryName,
        (select count(1) from TB_COUPON_REF_PRODUCT t2 where t1.PRODUCT_ID = t2.PRODUCT_ID) refCouponQuantity
        from
        TB_COUPON_REF_PRODUCT t1
        <where>
            <if test="couponRefProductQueryReq.searchCondition != null">
                <bind name="condition" value="'%' + _parameter.couponRefProductQueryReq.getSearchCondition() + '%'" />
                ( PRODUCT_ID like #{condition,jdbcType=VARCHAR} or PRODUCT_NAME like #{condition,jdbcType=VARCHAR} )
            </if>
            <if test="couponRefProductQueryReq.thirdCategoryName != null">
                and THIRD_CATEGORY_NAME = #{couponRefProductQueryReq.thirdCategoryName,jdbcType=VARCHAR}
            </if>
            <if test="couponRefProductQueryReq.supplierName != null">
                and SUPPLIER_NAME = #{couponRefProductQueryReq.supplierName,jdbcType=VARCHAR}
            </if>
            <if test="couponRefProductQueryReq.productCouponId != null">
                and COUPON_ID = #{couponRefProductQueryReq.productCouponId,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>
