<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- -->
<mapper namespace="com.youyu.cardequity.promotion.biz.dal.dao.ProductCouponMapper">
    <select id="findEnableGetCouponListByCommon"
            resultType="com.youyu.cardequity.promotion.biz.dal.entity.ProductCouponEntity">
        select a.*
        from TB_PRODUCT_COUPON a
        left join TB_COUPON_QUOTA_RULE b on a.UUID = b.COUPON_ID and IFNULL(b.IS_ENABLE, '1') = '1'
        where IFNULL(a.IS_ENABLE, '1') = '1'
        <if test="productId != null and productId!=''">
            and (ifnull(a.APPLY_PRODUCT_FLAG, '0') = '1' or
            EXISTS (select 1 from TB_COUPON_REF_PRODUCT b where b.COUPON_ID=a.UUID and
            b.PRODUCT_ID=#{productId,jdbcType=VARCHAR}))
        </if>
        <if test="entrustWay != null and entrustWay!=''">
            and (ifnull(a.ENTRUST_WAY_SET, '*') = '*' or instr(ENTRUST_WAY_SET, #{entrustWay,jdbcType=VARCHAR})&gt;0)
        </if>
        <if test="clientType != null and clientType!=''">
            and (ifnull(a.CLIENT_TYPE_SET, '*') = '*' or instr(CLIENT_TYPE_SET, #{clientType,jdbcType=VARCHAR}))
        </if>
        and a.ALLOW_GET_BEGIN_DATE &lt;= sysdate()
        and a.ALLOW_GET_END_DATE &gt;= sysdate()
        and (b.PER_DATE_MAX_AMOUNT is null or b.PER_DATE_MAX_AMOUNT &gt;
        (select sum(ifnull(d.COUPON_AMOUT, 0))
        from TB_CLIENT_COUPON d
        where ifnull(d.IS_ENABLE, '1') = '1'
        and d.COUPON_ID = a.UUID
        and (d.STATUS in ('1', '2') or curdate() &lt;= d.VALID_END_DATE)
        and d.CREATE_TIME &gt;= curdate()))
        and (b.MAX_AMOUNT is null or b.MAX_AMOUNT &gt;
        (select sum(ifnull(d.COUPON_AMOUT, 0))
        from TB_CLIENT_COUPON d
        where ifnull(d.IS_ENABLE, '1') = '1'
        and d.COUPON_ID = a.UUID
        and (d.STATUS in ('1', '2') or curdate() &lt;= d.VALID_END_DATE)))
        and (b.MAX_COUNT is null or b.MAX_COUNT &gt;
        (select count(ifnull(d.UUID, 0))
        from TB_CLIENT_COUPON d
        where ifnull(d.IS_ENABLE, '1') = '1'
        and d.COUPON_ID = a.UUID
        and (d.STATUS in ('1', '2') or curdate() &lt;= d.VALID_END_DATE)))
    </select>




    <select id="findProductCouponById" resultType="com.youyu.cardequity.promotion.biz.dal.entity.ProductCouponEntity">
    select *
from TB_PRODUCT_COUPON a
where ifnull(a.IS_ENABLE, '1') = '1'
  and a.UUID = #{couponId,jdbcType=VARCHAR}
  </select>


</mapper>
